.top-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
}

.top-page-image {
  width: 100%;
  height: auto;
  transition: transform 0.7s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

.top-page-image:hover {
  transform: scale(1.05); /* Slightly zoom the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}
